.suggestions {
    background-color: $background;
    margin: 20px 0;
    border-radius: 20px;

    &__title {
        text-align: center;
        font-family: 'Helvetica Black';
        padding: 5px 0;
    }

    &__follow-suggestion {
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        display: flex;
        justify-content: center;
        padding: 5px 0;

        &__account {

            &__p {
                font-weight: bold;
            }

            &__span {
                color: $muted;
            }
        }

        &__follow {
            margin-left: 10px;
            display: flex;
            align-items: center;

            &__button {
                padding: 10px;
                border-radius: 20px;
                border: 2px solid $primary;
                background-color: transparent;
                color: $primary;
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }

    &__show-more {
        padding: 10px 15px;

        &:hover {
            
        }
        
        &__a {
            text-decoration: none;
            color: $primary;
        }
    }
    
}