.home {
    display: flex;
    justify-content: center;
    
    &__col {
        padding: 0 15px;

        &--left {
            width: 40%
        }

        &--right {
            width: 50%
        }
    }
}