.home {
    display: flex;
    justify-content: center;
    
    &__col {
        width: 33.3%;
        padding: 0 15px;

        &--left {
            padding-left: 80px;
        }

        &--right {
            padding-right: 80px;
        }
    }
}