.home {
    display: flex;
    
    &__col {
        width: 33%;
        padding: 0 15px;

        &--left {

        }

        &--center {
            width: 50%;
        }

        &--right {
            
        }
    }
}