.sidebar {
    &__box{
        width: 240px;
        margin-left: auto;

        &__button {
            background-color: transparent;
            display: block;
            border-radius: 20px;
            border-color: transparent;
            font-size: 1.2rem;
            padding: 10px;
            margin: 10px;
            font-weight: bold;

            &:hover {
                background-color: rgba(77, 166, 255, 0.27);
                color: #0A9AFF;
                cursor: pointer;
            }

            &--twittear {
                color: white;
                background-color: #0A9AFF;
                width: 90%;

                &:hover{
                    color: white;
                    background-color: #0982D9;
                }
            }
        }

        .button_icon {
            width: 25px;
            margin-right: 10px;
        }
    }
}